<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <springProperty scope="context" name="artifactVersion" source="info.app.version"/>
    <springProperty scope="context" name="artifactCommit" source="info.app.commit"/>
    <property name="LOG_LEVEL_PATTERN" value="%5p [${springAppName},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}]" />
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!-- property name="root.level.console" value="OFF" / -->
    <property name="LOG_PATH" value="${LOG_DIRECTORY}/%d{yyyy/MM/dd, aux}"/>

    <appender name="APPLICATION_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/appgate-%d{yyyy-MM-dd_HH}.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="APPLICATION_FILE"/>
    </root>

</configuration>